<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024711777772-bk1na7rct2qut8kee5vsqukap60gq0us.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024711777772-bk1na7rct2qut8kee5vsqukap60gq0us</string>
	<key>API_KEY</key>
	<string>AIzaSyDNVSrKBz9Xpvci1pXDzdq27pS3mEXYsJU</string>
	<key>GCM_SENDER_ID</key>
	<string>1024711777772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.serenitteprototype.app</string>
	<key>PROJECT_ID</key>
	<string>serenitte-prototype</string>
	<key>STORAGE_BUCKET</key>
	<string>serenitte-prototype.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024711777772:ios:6b826cc722f2d8896bb4c9</string>
</dict>
</plist>